@page
@model ecommerce_db.Pages.CRUD.IncluirModel
@{
}

<form method="post">
	Nome:
	<input class ="form-control" asp-for="clientes.Name" />
	<br />
	Email:
	<input class="form-control" asp-for="clientes.email" />
	<br/>
	Telefone:
	<input class="form-control" asp-for="clientes.telefone" />
	<br />
	<br />
	<input type="submit" value="Enviar"/>
</form>