@page
@model ecommerce_db.Pages.crud.IncluirModel
@{
}

<form method="post">
	Nome: 
	<input asp-for="cliente.Name"/>
	<br />
	Email: 
	<input asp-for="cliente.email"/>
	<br />
	Telefone:
	<input asp-for="cliente.telefone" />
	<br />
	<br />
	<input type="submit" value="Enviar"/>
</form>
