@page
@model ecommerce_db.Pages.crud.IncluirModel
@{
}

<form method="post">
	Nome: 
	<input class="form-control"asp-for="cliente.Name"/>
	<br />
	Email: 
	<input class="form-control" asp-for="cliente.email" />
	<br />
	Telefone:
	<input class="form-control" asp-for="cliente.telefone" />
	<br />
	<br />
	<input class="form-control" type="submit" value="Enviar" />
</form>
