@page
@model ecommerce_db.Pages.ClienteCRUD.CRUD.IndexModel
@{
}

<h1> 
	@Model.Nome
</h1>
 <table>
	 <thead> 
		 <tr>
			 <td>Valor 1</td>
			 <td>Valor 2</td>
			 <td>Valor 3</td>
		 </tr>
	 </thead>
      <tbody> 
		@for( int i =1; i <= 10; i++) 
		{
		  <tr>
			  <td>@Model.Num</td>
			  <td>@i</td>
			  <td>@Model.Num*i</td>
		  </tr>
		}
	  </tbody>

 </table>