@page
@model ecommerce_db.Pages.ProdutoCRUD.AlterarProduto
@{
}
<form method="post">
    <input type="hidden" asp-for="Produtos.Id" />
    Nome:
    <input asp-for="Produtos.nome" />
    <br />
    Descrição:
    <input asp-for="Produtos.descricao" />
    <br />
    Categoria:
    <input asp-for="Produtos.categoria" />
    <br />
    <br />
    <input type="submit" value="Enviar" />
   
</form>


    
    