@page
@model ecommerce_db.Pages.ProdutoCRUD.IncluirModel
@{
}

<form method="post">

    Nome:
    <input class="form-control" asp-for="produto.nome" />

    <br />
    Descrição:
    <input class="form-control" asp-for="produto.descricao" />
    <br />
    Categoria:
    <input class ="form-control" asp-for="produto.categoria" />
    <br />  
    Preço:
    <input class="form-control" asp-for="produto.preco" />
    <br />
    Unidade de Medida:
    <input class="form-control" asp-for="produto.unidadedeMedida" />
    <br />
    <br />
    <input type="submit" value="Incluir"/>
</form>