@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form class="form-intiline my-2 my-lg-0 list-group-item-" action="/Index" method="get">
    <input type="hidden" name="o" value="0" id="o" />
    <input type="hidden" name="p" value="1" id="p" />
    <input type="text"
           name="q"
           placeholder="Nome do produto a buscar..."
           class="form-control mr-sn" />
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
</form>

<div class="row">
        @foreach(var produto in Model.Produtos){
    <div class="col-3">
            
        <div class="card-img-top" style="width: 18rem;">
            <img 
                src="~/img/produtos/@String.Concat(produto.Id.ToString("D6"),".jpg")">
            <div class="card-body">
                <h5 class="card-title">@produto.nome</h5>
                <p class="card-text">@produto.descricao</p>
                <a href="#" class="btn btn-primary">Comprar</a>
            </div>
        </div>

    </div>
        }
</div>
<div class="container text-center">
    <nav aria-label="Page navigation example">
        <ul calss="pagination">@for(int i = 1; i <= Model.QuantidadePagina; i++){
                @if (i == Model.QuantidadePagina)
                {
                    <li class="page-item disable"><a class="page-link" href="#">@i</a></li>
                } else{
                    <li class="page-item"><a class="page-link" href="#">@i</a></li>
                }
                }</ul>
    </nav>
</div>
