@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ecommerce Alfa</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
        @foreach(var produto in Model.Produtos){
    <div class="col-3">
            
        <div class="card" style="width: 18rem;">
                <img class="card-img-top"
                src="~/img/produto/@String.Concat(produto.Id.ToString("D6"),".jpg")"
            
            >
            <div class="card-body">
                <h5 class="card-title">@produto.nome</h5>
                <p class="card-text">@produto.descricao</p>
                <p class="card-text">@produto.preco.ToString("F2")</p>
                <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
            </div>
        </div>

    </div>
        }
</div>
