@page
@model ecommerce_db.Pages.NovoClienteModel
@{


}
<form method="post">
	<label asp-for="Cliente.Name">Nome:</label>
	<imput asp-for="Cliente.Name"/>
	<span asp-asp-validation-for="Cliente.Nome" classe="text-danger"><</span>

	<label asp-for="Cliente.">Nome:</label>
	<imput asp-for="Cliente.Name" />
	<span asp-asp-validation-for="Cliente.Nome" classe="text-danger"><</span>

</for>
